.footer
  %ul.footer__list
    %li.footer__list-left
      プライバシーポリシー
    %li.footer__list-center
      フリマ利用規約
    %li.footer__list-right
      特定取引に関する表記
  = image_tag "/material/logo/logo.png", class: "footer__img", alt: "FURIMA"
  %br/
  %small.footer__copyright
    &copy;FURIMA