.completion__notice
  = link_to "#" do
    = image_tag "/material/logo/logo.png", class: "completion__notice--logo", alt: "FURIMA"
  .completion__notice--main カードの登録が完了しました
  = link_to "トップへ戻る", root_path, class: "completion__notice--link"