= render 'layouts/notifications'
.credit-card
  .credit-card_title
    クレジットカード情報
  .credit-card_info
    .credit-card_info_number
      カード番号
      %br
      %p= "**** **** **** " + @default_card_information.last4
    .credit-card_info_term
      カード有効期限
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      %p= exp_month + " / " + exp_year
    .credit-card_info_btn
      = form_tag(creditcard_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm", data: {confirm: "カード情報を削除しますか？"}) do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button.delete-btn 削除する
    .credit-card_info_text
      ＊編集される場合は一度削除してから再登録をお願いします。