*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  box-sizing: border-box;
  list-style: none;
}

.header {
  text-align: center;
  &__h-container {
    height: 128px;
    &__single-header {
      width: 768px;
      margin: 0 auto; 
      &__logo {
        margin: 40px 0 0;
        line-height: 35px;
        display: inline-block;
        margin-left: 140px;
        img.furima-logo {
          width: 145px; 
          height: 45px;
        }
      }
      &__progress {
        padding: 40px 100px 0 45px;
        float: right;
        ol {
          li {
            margin: 0 40px 0 0;
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 40px;
            font-size: 12px;
            color: #888;
            }
          }
        &__round {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
          &--red {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
        }
        &__round::before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
        &__round::after,--red::after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        } 
        &__round--red::before {
        } 
        &__round--red::after {
        }
        #first {
          color: #ea352d;
          font-weight: 600;
        }
        #long {
          right: 101%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 85%;
          height: 2px;
          background: #ccc;
        }
        #end ::after {
          left: 100%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #f5f5f5;
        }
      }
    }
  }
}