.main_banner
  .main_banner_inner
    .main_banner_inner_title
      だれでもかんたんだれでもかんたん、人生を変えるフリマアプリ
    .main_banner_inner_text
      今すぐ無料ダウンロード！
    .main_banner_inner_btn
      .main_banner_inner_btn_a
        =link_to '#'
        -# あとでアップルとグーグル追加
      .main_banner_inner_btn_b
        =link_to '#'
        -# あとでアップルとグーグル追加
.main_footer
  .main_footer_contents
    .main_footer_contents_content
      .main_footer_contents_content_head
        FURIMAについて
      .main_footer_contents_content_text
        %ul
          %li
            =link_to '#' do
              会社概要(運営会社)
          %li
            =link_to '#' do
              プライバシーポリシー
          %li
            =link_to '#' do
              FURIMA利用規約
          %li
            =link_to '#' do
              ポイントに関する特約
    .main_footer_contents_content
      .main_footer_contents_content_head
        FURIMAを見る
      .main_footer_contents_content_text
        %ul
          %li
            =link_to '#' do
              カテゴリー一覧
          %li
            =link_to '#' do
              ブランド一覧
    .main_footer_contents_content
      .main_footer_contents_content_head
        ヘルプ＆ガイド
      .main_footer_contents_content_text
        %ul
          %li
            =link_to '#' do
              FURIMAガイド
          %li
            =link_to '#' do
              FURIMAロゴガイド利用ライン
          %li
            =link_to '#' do
              お知らせ
  .main_footer_logo
    =link_to '#' do
      =image_tag '/material/logo/logo-white.png'
  .main_footer_text
    ©︎ FURIMA