-# = render partial: '/layouts/header'

%main
  .main-container
    .main-conteiner__box
      .main-container__box-header
        %h2 商品の情報を入力

      #form
        = form_with model: @item, class: "mainContainer__form", local: true do |f|
          .image-box
            .image-box__name
              出品画像
              .image-box__name-require
                必須
            .image-box__comment
              最大10枚までアップロードできます
              
          #image-picture
            .image-box__pictures
              = f.fields_for :images do |i|
                .image-box-container
                  = i.file_field :name, value:"", style: "display:none", class: "image-box-container__style"
                  %i.fa.fa-camera
