<div class="js-file-group" data-index="${index}">
  <div class="preview-none">
    <div class="js-image-zone"></div>
    <div class="js-remove">削除</div>
  </div>
  <label class="input">
    <input class="js-file" type="file" name="item[images_attributes][${index}][image]" id="item_images_attributes_${index}_image">
    <div class="input__box">
      <div class="input__box__cam-icon">
        <i class="fa fa-camera fa-lg"></i>
      </div>
      <p class="input__box__p">ここをクリックしてアップロード</p>
    </div>
  </label>
</div>